<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Dummy GPE WTP GAE facet definition to enable removing it with CT4E -->
  <extension point="org.eclipse.wst.common.project.facet.core.facets">
    <project-facet id="com.google.appengine.facet" />
    <project-facet-version facet="com.google.appengine.facet" version="1">
      <action type="INSTALL">
        <delegate class="com.google.cloud.tools.eclipse.appengine.compat.DummyDelegate" />
      </action>
      <action type="UNINSTALL">
        <delegate class="com.google.cloud.tools.eclipse.appengine.compat.DummyDelegate" />
      </action>
    </project-facet-version>
  </extension>

  <!-- Dummy GPE WTP GAE facet definition to enable removing it with CT4E -->
  <extension point="org.eclipse.wst.common.project.facet.core.facets">
    <project-facet id="com.google.appengine.facet.ear" />
    <project-facet-version facet="com.google.appengine.facet.ear" version="1">
      <action type="INSTALL">
        <delegate class="com.google.cloud.tools.eclipse.appengine.compat.DummyDelegate" />
      </action>
      <action type="UNINSTALL">
        <delegate class="com.google.cloud.tools.eclipse.appengine.compat.DummyDelegate" />
      </action>
    </project-facet-version>
  </extension>

  <!-- Dummy GPE GAE nature definition; required only for enabling unit testing -->
  <extension point="org.eclipse.core.resources.natures"
             id="com.google.appengine.eclipse.core.gaeNature">
    <runtime>
      <run class="com.google.cloud.tools.eclipse.appengine.compat.DummyNature" />
    </runtime>
  </extension>

  <!-- Dummy GPE GAE runtime type definition; required only for enabling unit testing -->
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType id="com.google.appengine.runtime.id1"
                 description="Dummy GPE runtime type description"
                 name="DummyGPEruntimetype"
                 version="1">
    </runtimeType>
  </extension>

  <!-- Dummy GPE GAE runtime facet mapping; required only for enabling unit testing -->
  <extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
    <runtimeFacetMapping runtimeTypeId="com.google.appengine.runtime.id1"
                         runtime-component="com.google.appengine.runtime.id" version="1" />
  </extension>

  <!-- Dummy GPE GAE runtime definition; required only for enabling unit testing -->
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.google.appengine.runtime.id" />
    <runtime-component-version type="com.google.appengine.runtime.id" version="1" />
  </extension>

</plugin>
