<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.google.cloud.tools.eclipse.appengine.login.commands.category"
            name="Google Login Category">
      </category>
      <command
            categoryId="com.google.cloud.tools.eclipse.appengine.login.commands.category"
            id="com.google.cloud.tools.eclipse.appengine.login.commands.loginCommand"
            name="Google Login Command">
      </command>

      <!-- FIXME Below is for test-driven development of login. Remove it in the final product. -->
      <command
            categoryId="com.google.cloud.tools.eclipse.appengine.login.commands.category"
            id="com.google.cloud.tools.eclipse.appengine.login.commands.loginTestCommand"
            name="Google Login Test Command">
      </command>

   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.google.cloud.tools.eclipse.appengine.login.GoogleLoginCommandHandler"
            commandId="com.google.cloud.tools.eclipse.appengine.login.commands.loginCommand">
      </handler>

      <!-- FIXME Below is for test-driven development of login. Remove it in the final product. -->
      <handler
            class="com.google.cloud.tools.eclipse.appengine.login.GoogleLoginTestCommandHandler"
            commandId="com.google.cloud.tools.eclipse.appengine.login.commands.loginTestCommand">
      </handler>

   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="com.google.cloud.tools.eclipse.appengine.login.commands.loginCommand"
               id="com.google.cloud.tools.eclipse.appengine.login.menus.loginCommand"
               label="%loginMenuItemLabel"
               mnemonic="G">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status?after=additions">
         <toolbar
               id="com.google.cloud.tools.eclipse.appengine.login.toolbars.loginToolbar">
            <command
                  commandId="com.google.cloud.tools.eclipse.appengine.login.commands.loginCommand"
                  icon="icons/googleFavicon.png"
                  id="com.google.cloud.tools.eclipse.appengine.login.toolbars.loginCommand"
                  tooltip="%loginToolbarTooltip">
            </command>
         </toolbar>
      </menuContribution>

      <!-- FIXME Below is for test-driven development of login. Remove it in the final product. -->
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="com.google.cloud.tools.eclipse.appengine.login.commands.loginTestCommand"
               id="com.google.cloud.tools.eclipse.appengine.login.menus.loginTestCommand"
               label="TEST IF AUTH WORKS">
         </command>
      </menuContribution>
   </extension>

</plugin>
