<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="com.google.cloud.tools.eclipse.appengine.newproject.AppEngineStandard"
            name="Google App Engine Standard Java Project"
            class="com.google.cloud.tools.eclipse.appengine.newproject.StandardProjectWizard"
            icon="icons/app_engine_standard_16x16.png"
            project="true"
            category="com.google.cloud.tools.eclipse.appengine.wizards">
         <description>%wizard.description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
         <keywordReference id="com.google.cloud.tools.eclipse.appengine.newproject.GCPKeyword"/>
         <keywordReference id="com.google.cloud.tools.eclipse.appengine.newproject.GAEKeyword"/>
         <keywordReference id="com.google.cloud.tools.eclipse.appengine.newproject.GoogleKeyword"/>
         <keywordReference 
             id="com.google.cloud.tools.eclipse.appengine.newproject.AppEngineKeyword"/>
         <keywordReference 
             id="com.google.cloud.tools.eclipse.appengine.newproject.AppSpaceEngineKeyword"/>
      </wizard>
      <category 
          id="com.google.cloud.tools.eclipse.appengine.wizards" 
          name="Google Cloud Platform" />
   </extension>
   
   <extension point="org.eclipse.ui.keywords">
     <keyword label="GCP" id="com.google.cloud.tools.eclipse.appengine.newproject.GCPKeyword"/>
     <keyword label="GAE" id="com.google.cloud.tools.eclipse.appengine.newproject.GAEKeyword"/>
     <keyword label="Google" 
              id="com.google.cloud.tools.eclipse.appengine.newproject.GoogleKeyword"/>
     <keyword label="AppEngine" 
              id="com.google.cloud.tools.eclipse.appengine.newproject.AppEngineKeyword"/>
     <keyword label="App Engine" 
              id="com.google.cloud.tools.eclipse.appengine.newproject.AppSpaceEngineKeyword"/>
   </extension>
</plugin>
